/* Colours are from here: https://marketplace.visualstudio.com/items?itemName=sallar.vscode-duotone-dark */

.body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #444c55;
  color: #d6e9ff;
}

a {
  text-decoration: none;
  color: #34febb;
  transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
}

a:visited {
  color: #34febb;
}

a:hover {
  color: #32ae85;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  font-family: "Source Code Pro", monospace;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 26px;
}

/* this width percentage determines how "squished the text should be" */
.container {
  width: 50%;
  margin: 50px auto;
}

.name {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 37px;
}

.heading {
  margin-top: 45px; /* this has to be the same as margin-top of .contact-block */
  margin-bottom: 20px;
  font-size: 25px;
}

.contact-block {
  margin-top: 45px;
}

.list {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

@media screen and (max-width: 800px) {
  .heading {
    font-size: 24px;
  }

  .background {
    font-size: 14px;
  }

  .container {
    width: 75%;
    margin: 50px auto;
  }
}
