/* Colours are from here: https://marketplace.visualstudio.com/items?itemName=sallar.vscode-duotone-dark */

.body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #444c55;
  color: #d6e9ff;
}

a {
  text-decoration: none;
  color: #60fdb9;
  transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
}

a:visited {
  color: #60fdb9;
}

a:hover {
  color: #32ae85;
}

.background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* font-family: "Source Code Pro", monospace; */
  font-family: "Courier Prime", serif;
  font-weight: 100;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 23px;
}

/* this width percentage determines how "squished the text should be" */
.container {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 40px auto;
}

.heading {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 500;
}

.contact-block {
  margin-top: 45px;
}

.list {
  padding: 0;
  list-style: none;
}

.list-item {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.list-item ion-icon {
  margin-right: 10px;
}

.left-column,
.right-column {
  flex: 1;
}

.right-column {
  padding-left: 150px;
}

.timeline {
  margin: 20px 0;
}

.timeline-item h3 {
  margin: 0;
}

.timeline-item p {
  margin: 0;
  padding-left: 12px;
  font-size: 14px;
}

.timeline-content h3 {
  font-weight: 100;
}

.timeline-content p {
  margin-bottom: 5px;
}

@media screen and (max-width: 1100px) {
  .heading {
    font-size: 24px;
  }

  .background {
    font-size: 14px;
  }

  .container {
    width: 75%;
    margin: 50px auto;
    flex-direction: column;
  }

  .left-column {
    border-right: none;
  }

  .right-column {
    padding-left: 0px;
  }
}